<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header" >
</section>

<section class="content">

  <style>
    div{
      background-color:white;
    }
    h1{
      color:#191970;
    }
    a{
      background-color:#A9A9A9;
    }
  </style>
<!-- coloca dentro do td -->
<table border=" 1px;"  style="border-top-color:#fcfcfc;  border-bottom-color:#fafafa; border-left-color:#fafafa; border-right-color:#b8b8b8; margin-left: 80px;">
  <tr>
    <td bgcolor="#fcfcfc" style="padding-right: 40px; width: 500px; text-align: center; height: -20px">
      <img src="assets/img/maquiagens/iconecarro.jpg" width=80px >
      <h2 style="margin-top: -20px; color: #696969;">FRETE GRÁTIS</h2>
      <p style=" color: #808080;"> Nas compras a partir de R$ 169,90. </p>
  </td>

    <td bgcolor="#fcfcfc" style="padding-left: 40px; width: 500px; text-align: center; height: -20px">

      <img src="assets/img/maquiagens/iconecarro.jpg" width=80px >

      <h2 style="margin-top: -20px; color: #696969;">PARCELE SUAS COMPRAS</h2>
      <p style=" color: #808080;"> Pague em até 12x no seu cartão. </p>
  </td>

  </tr>
</table>

  <div class="jumbotron welcome-jumbotron">

    <img src="assets/img/maquiagens/fundoinicio3.jpg" width=1000px style="padding-right: -200px; margin-right: 100px; padding-left: -100px; margin-left: 20px; margin-top: 5px;">

  </div>
  <a class="btn btn-primary btn-lg" [routerLink]="['/maquiagens']" style="margin-left: 500px; margin-bottom: 20px" >Ver Produtos</a>
     <table>
      <tr>
      <TD style="padding-right: 10px; padding-left: 80px;"> <img src="assets/img/maquiagens/tabela.jpg" width="200px"> </TD>
      <TD style="padding-right: 10px;"> <img src="assets/img/maquiagens/tabela2.jpg" width="200px"> </TD>
      <TD style="padding-right: 10px;"> <img src="assets/img/maquiagens/tabela3.jpg" width="200px"> </TD>
      <TD style="padding-right: 10px;"> <img src="assets/img/maquiagens/tabela4.jpg" width="200px"> </TD>
      <TD style="padding-right: 10px;"> <img src="assets/img/maquiagens/tabela5.jpg" width="200px"> </TD>
      </tr>
    </table>



</section>
<!-- FIM DO CONTEÚDO -->
